################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.vscode/
bin/
obj/
/Cryptocop.Software.API/Cryptocop.Software.API/Cryptocop.Software.API.csproj.user
